body {    
    margin: 0px;
    padding: 0px;
    font-family: 'Sulphur Point', sans-serif;
    letter-spacing: 4px;
}






/******************** NAV ********************/
nav {
    background-color: #47002C;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #0C0C0C;
    width: 100%;
    position: fixed;
    box-shadow: 5px 5px 90px 20px #47002c;
}

.nav-menu-box {
    text-align: right;
    height: 100px;
}

.nav-submenu-box img {
    float: left;
    width: 125px;
    margin: 15px 0px 0px 80px;
}

.nav-menu-list a {
    color: #BFBFBF;
    font-size: 20px;
    line-height: 100px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 20px 0px 20px;
}

.nav-menu-list a:hover {
    color: white;
}

.nav-menu-list a:nth-child(4) {
    background-color: #0C0C0C;
    font-weight: bold;
    padding: 40px 5px;
}

label {
    color: #BFBFBF;
    display: none;
    font-size: 35px;
    line-height: 100px;
    margin: 0px 25px 0px 0px;
}

#toggle {
    display: none;
}

.nav-menu-list input {
    background: none;
    color: #BFBFBF;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #141414;
    outline: none;
    width: 50px;
    font-size: 20px;
    padding: 10px;
    transition: 0.8s;
}

.nav-menu-list input:hover {
    width: 300px;
    transition: 0.8s;
}

.nav-menu-list button {
    background: none;
    border-style: none;
    outline: none;
    width: 40px;
    height: 40px;
    margin: 0px 20px 0px 0px;
}

.nav-menu-list i {
    color: #BFBFBF;
    font-size: 20px;
    cursor: pointer;
}



















/******************** SEKTION ********************/
section {
    background-color: #141414;
    display: flex;
    justify-content: center;
}

.secton-wrapper {
    width: 80%;
}

.section-boxwrap {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    margin: 300px 0px 200px 0px;
}

.section-box {
    width: 30%;
}

.section-box-picture {
    background-color:#47002C;

    display: flex;
    justify-content: center;
}

.section-box-picture img{
    width: 350px;
    margin: 40px 0px;
}

.section-box-text {
    background-color: #47002C;
    color: #BFBFBF;
    border-top-style: solid;
    border-width: 10px;
    border-color: #0C0C0C;
    font-size: 16px;
    line-height: 25px;
    padding: 20px;
}

.section-box-text button {
    background-color: #722f37;
    color: #BFBFBF;
    border: none;
    border-radius: 10px;
    font-family: 'Sulphur Point', sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.4s;
}

.section-box-text button:hover {
    background-color: #47002C;
    color: white;
    transition: 0.4s;
}





/******************** FOOTER ********************/
footer {
    background-color: #47002C;
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-width: 10px;
    border-color: #0C0C0C;
    padding: 40px 0px;
}

.footer-wrapper {
    display: flex;
    width: 80%;
}

.footer-left-boxwrap {
    width: 30%;
    padding: 0px 0px 0px 70px;
}

.footer-link-boxes {
    display: flex;
}

.footer-link-box {
    width: 30%;
    padding: 10px 0px;
}

.footer-link-box a {
    color: #7F7F7F;
    font-size: 15px;
    text-decoration: none;
}

.footer-link-box a:hover {
    color: #BFBFBF;
    font-weight: bold;
}

.footer-mid-boxwrap {
    width: 30%;
    text-align: center;
    padding-top: 50px;
}

.fa {
    color: #722f37;
    font-size: 35px;
}

.fa:hover {
    color: #BFBFBF;
}

.footer-copyright-box {
    background-color: #47002C;
    color: #7F7F7F;
    text-align: center;
    font-size: 14px;
    padding: 20px;    
}

/******** nyhetsbrev ***********/
.news-form {
    background-color: #47002C;
    color:white;
    padding: 8px;
    width: 22%;
    margin:0px;
    border-radius: 3px;
    z-index: 2;
    bottom: 0;
    right: 0;
    }
    .content-form{
    display: flex;
    margin-left: 25px;
    }

    .content-form b {
    margin: 5px 10px 0px 0px;
        }

    .reg_button {
    margin: 1px 0px 0px 10px;
    padding-left: 2px;
        }    
    
    .nyhetsruta {
    border-radius: 3px;
    border:white;
    padding:8px;
    }
    
    .reg_button {
    width: 70px;
    height: 29px;
    border-radius: 3px;
    background-color: #47002C;
    color: white;
    }
    
    .reg_button:hover {
    background:#8a3b6c
    }




/******************** SKROLLEN ********************/
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #47002C; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #7F7F7F; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #722f37; 
  }







/******************** SKROLLEN ********************/
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #47002C; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #7F7F7F; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #722f37; 
  }











/******************** MOBILE ********************/
@media only screen and (max-width: 600px) {






    /******************** NAV ********************/
    .nav-submenu-box img {
        width: 125px;
        margin: 15px 20px;
    }
    
    label {
        display: block;
    }
    
    .nav-menu-list {
        background-color: #47002C;
        border-bottom-style: solid;
        border-width: 10px;
        border-color: #0C0C0C;
        text-align: center;
        display: none;
    }
    
    .nav-menu-list a {
        display: block;
        border-bottom: solid;
        border-width: 1px;
        border-color: #141414;
    }

    .nav-menu-list a:nth-child(4) {
        padding: 5px 0px;
    }
    
    .nav-menu-list input {
        margin: 50px 0px;
    }
    
    #toggle:checked + .nav-menu-list {
        display: block;
    }









    /******************** = ********************/
    .section-boxwrap {
        flex-direction: column;
        padding: 0;
    }

    .section-box {
        width: 100%;
        margin: 0px 0px 100px 0px;
    }






/******************** FOOTER ********************/
.footer-wrapper {
    flex-direction: column;
}

.footer-left-boxwrap {
    width: 100%;
    padding: 5px 0px 0px 0px;
}

.footer-link-boxes {
    flex-direction: column;
}

.footer-link-box {
    text-align: center;
    width: 100%;
}

.footer-link-box a:hover {
    color: #BFBFBF;
    font-weight: bold;
}

.footer-mid-boxwrap {
    width: 100%;
}

.fa:hover {
    color: #47002C;
}

}





