body {    
    background-color: #141414;
    margin: 0px;
    padding: 0px;
    font-family: 'Sulphur Point', sans-serif;
    letter-spacing: 4px;
}






/******************** NAV ********************/
nav {
    background-color: #47002C;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #0C0C0C;
    width: 100%;
    position: fixed;
    box-shadow: 5px 5px 90px 20px #47002c;
    z-index: 9999;
}

.nav-menu-box {
    text-align: right;
    height: 100px;
}

.nav-submenu-box img {
    float: left;
    width: 125px;
    margin: 15px 0px 0px 80px;
}

.nav-menu-list a {
    color: #BFBFBF;
    font-size: 20px;
    line-height: 100px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 20px 0px 20px;
}

.nav-menu-list a:hover {
    color: white;
}

.nav-menu-list a:nth-child(1) {
    background-color: #0C0C0C;
    font-weight: bold;
    padding: 40px 5px;
}

.nav-menu-list a:nth-child(7):hover + aside {
    display: unset;
  }

label {
    color: #BFBFBF;
    display: none;
    font-size: 35px;
    line-height: 100px;
    margin: 0px 25px 0px 0px;
}

#toggle {
    display: none;
}

.searchbar {
    background: none;
    color: #BFBFBF;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #141414;
    outline: none;
    width: 50px;
    font-size: 20px;
    padding: 10px;
    transition: 0.8s;
}

.searchbar:hover {
    width: 300px;
    transition: 0.8s;
}

.nav-menu-list button {
    background: none;
    border-style: none;
    outline: none;
    width: 40px;
    height: 40px;
    margin: 0px 20px 0px 0px;
}

.nav-menu-list i {
    color: #BFBFBF;
    font-size: 20px;
    cursor: pointer;
}







/******************** INLOGGNING ********************/
aside {
    background-color: #47002C;
    display: none;
    position: absolute;
    right: 0;
    top: 110px;
    border-radius: 10px;
    width: 400px;
    height: 350px;
}

.aside-loginbox {
    padding: 20px;
}

.aside-upperside {
    color: #BFBFBF;
    margin-bottom: 10px;

}

.aside-underside {
    color: #BFBFBF;
    margin-bottom: 10px;
}

.aside-upperside input {
    background: none;
    color: #BFBFBF;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-width: 2px;
    border-color: #141414;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: 10px 0px;
    outline: none;
}

.aside-underside input {
    background: none;
    color: #BFBFBF;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-width: 2px;
    border-color: #141414;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: 10px 0px;
    outline: none;
}

.aside-login-info button {
    float: right;
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    margin: 0px 0px;
    cursor: pointer;
}

.aside-login {
    float: right;
    display: flex;
    flex-direction: column;
}

.aside-login input {
    margin: 15px 10px;
}

.aside-login span {
    color: #BFBFBF;
    margin: 15px 0px;
}

.aside-login button {
    background-color: #722f37;
    color: #BFBFBF;
    font-size: 15px;
    font-family: 'Sulphur Point', sans-serif;
    letter-spacing: 4px;
    width: 100%;
    height: 60px;
}





/******************** GARDINER ********************/
#theatre {
    height: auto;
    text-align: center;
    line-height: 120px;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    background: url(http://webdesignpop.com/wp-content/uploads/2015/02/cover-1552x2189.png);
    color: rgba(255,255,255, 0.3);
    text-shadow: 0 0 2px yellow , 0 0 4px black,0 0 6px white;
}

#theatre #curtain-left, #theatre #curtain-right {
    content: '';
    position: absolute;
    z-index: 2;
    top: -30px;
    bottom: -30px;
    width: 61%;
    transition: all 4s ease-out;
    transform: rotate(0deg);
    background-color: #47002c;
    background-image: linear-gradient(90deg,  transparent 10%, rgba(255,255,255,.25) 50% ,transparent 65% );
    background-repeat: repeat;
    box-shadow: 0 0 10px #555 ,inset 0 -60px  60px -30px  rgba(255,255,255, 0.5), inset 0 90px  60px -30px  rgba(0,0,0, 0.5);
    background-size: 80px;
}

#curtain-left { left: -10% }
#curtain-right { right: -10% }

#theatre:hover #curtain-right, #theatre:hover #curtain-left {
    width: 0;
    background-size: 1px;
    transition: all 4s ease;
    transform: rotate(15deg);
}

div#theatre:hover #curtain-right {
    transition: all 4s ease;
    transform: rotate(-15deg);
}

#theatre p {
    width: 50%;
    margin: 0.5em auto;
    position: relative;
    z-index: 3;
}

#theatre p:first-of-type:before {
    content: '';
    position: absolute;
    border-radius: 150px;
    box-shadow: 0 0 10px 70px rgba(255,255,255,0.4);
    height: 0.1px;
    width: 3px;
    top: 6.5em;
    left: 49%;
    transform: rotate(25deg) skew(15deg,5deg);
}








/******************** FILMSKÄRM ********************/
.movie-screen {
    background-color: #000;
    width: 100%;
    margin-top: 110px;
}

.slide-container {
    width: 1800px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    position: relative;
    width: 5400px;
    height: 900px;
    transition: left 4s;
}

.slider-image {
    float: left;
    width: 1800px;
    height: 900px;
    padding: 0px;
    margin: 0px;
}

.button-container {
    top: -120px;
    position: relative;
}

.slider-button {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: #141414;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    transition: 0.4s;
}

.slider-button:hover {
    background-color: #47002C;
    border-style: solid;
    border-width: 2px;
    border-color: #BFBFBF;
}

#slider-image-1:target ~ .image-container {
    left: 0px;
}
#slider-image-2:target ~ .image-container {
    left: -1800px;
}
#slider-image-3:target ~ .image-container {
    left: -3600px;
}

video {
    outline: none;
}



/******************** FILM AFFISCHER ********************/
section {
    display: flex;
    justify-content: center;
    margin: 200px 0px 100px 0px;
}

.section-moviewrapper {
    width: 73%;
}

.section-moviecategori {
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    border-top-style: solid;
    border-width: 2px;
    border-color: #722f37;
    padding: 40px 0px 0px 0px;
}

.section-cardwrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 100px 0px;
}

.section-moviecard {
    width: 220px;
    margin: 40px 0px;
}

.section-moviecard img {
    width: 220;
    height: 321px;

} 

.section-moviecard img:hover {
    background-color: #47002C;
    opacity:0.8;
}

.section-betyg {
    background-color: #47002C;
    text-align: center;
    position: absolute;
    width: 220px;
    padding: 5px 0px;
    color: #ffffff;
}

.section-betyg i {
    color: gold;
    font-size: 20px;

}













/******************** FOOTER ********************/
footer {
    background-color: #47002C;
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-width: 5px;
    border-color: #0C0C0C;
    padding: 40px 0px;
}

.footer-wrapper {
    display: flex;
    width: 80%;
}

.footer-left-boxwrap {
    width: 30%;
    padding: 0px 0px 0px 70px;
}

.footer-link-boxes {
    display: flex;
}

.footer-link-box {
    width: 30%;
    padding: 10px 0px;
}

.footer-link-box a {
    color: #7F7F7F;
    font-size: 15px;
    text-decoration: none;
}

.footer-link-box a:hover {
    color: #BFBFBF;
    font-weight: bold;
}

.footer-mid-boxwrap {
    width: 30%;
    text-align: center;
    padding-top: 50px;
}

.fa {
    color: #722f37;
    font-size: 35px;
}

.fa:hover {
    color: #BFBFBF;
}

.footer-copyright-box {
    background-color: #47002C;
    color: #7F7F7F;
    text-align: center;
    font-size: 14px;
    padding: 20px;    
}

/******** nyhetsbrev ***********/
.news-form {
    background-color: #47002C;
    color:white;
    padding: 8px;
    width: 22%;
    margin:0px;
    border-radius: 3px;
    z-index: 2;
    bottom: 0;
    right: 0;
    }
    .content-form{
    display: flex;
    margin-left: 25px;
    }

    .content-form b {
    margin: 5px 10px 0px 0px;
        }

    .reg_button {
    margin: 1px 0px 0px 10px;
    padding-left: 2px;
        }    
    
    .nyhetsruta {
    border-radius: 3px;
    border:white;
    padding:8px;
    }
    
    .reg_button {
    width: 70px;
    height: 29px;
    border-radius: 3px;
    background-color: #47002C;
    color: white;
    }
    
    .reg_button:hover {
    background:#8a3b6c
    }









/******************** SKROLLEN ********************/
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #47002C; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #7F7F7F; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #722f37; 
  }




















  /******************** MOBILE ********************/
@media only screen and (max-width: 600px) {






    /******************** NAV ********************/
    .nav-submenu-box img {
        width: 125px;
        margin: 15px 20px;
    }
    
    label {
        display: block;
    }
    
    .nav-menu-list {
        background-color: #47002C;
        border-bottom-style: solid;
        border-width: 10px;
        border-color: #0C0C0C;
        text-align: center;
        display: none;
    }
    
    .nav-menu-list a {
        display: block;
        border-bottom: solid;
        border-width: 1px;
        border-color: #141414;
    }

    .nav-menu-list a:nth-child(1) {
        padding: 5px 0px;
    }
    
    .nav-menu-list input {
        margin: 50px 0px;
    }
    
    #toggle:checked + .nav-menu-list {
        display: block;
    }











    





/******************** FILMSKÄRM ********************/
.slide-container {
    width: 450px;
    height: 400px;
}

.image-container {
    width: 1350px;
    height: 400px;
}

.slider-image {
    width: 450px;
    height: 400px;
}

#slider-image-2:target ~ .image-container {
    left: -450px;
}
#slider-image-3:target ~ .image-container {
    left: -900px;
}






/******************** FILM AFFISCHER ********************/
.section-cardwrapper {
    display: flex;
    flex-direction: column;
}

.section-moviecard img {
    width: 358px;
    height: 522px;
}


.section-betyg {
    width: 360px;
}



    /******************** FOOTER ********************/
.footer-wrapper {
    flex-direction: column;
}

.footer-left-boxwrap {
    width: 100%;
    padding: 5px 0px 0px 0px;
}

.footer-link-boxes {
    flex-direction: column;
}

.footer-link-box {
    text-align: center;
    width: 100%;
}

.footer-link-box a:hover {
    color: #BFBFBF;
    font-weight: bold;
}

.footer-mid-boxwrap {
    width: 100%;
}

.fa:hover {
    color: #47002C;
}

.news-form {
    position: sticky;
    width: 300px;
    padding: 0px;
    text-align: center;
    }
    
.content-form {
    display: flex;
}

.content-form b {
    margin: 5px 10px 0px -20px;
}

.reg_button {
    padding-left: 2px;
    margin: 1px 0px 0px 8px;
}

}